<nav class="navbar navbar-expand-sm navbar-default">

    <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="./"><img src="~/Content/images/logo.png" alt="Logo"></a>
        <a class="navbar-brand hidden" href="./"><img src="~/Content/images/logo2.png" alt="Logo"></a>
    </div>

    <div id="main-menu" class="main-menu collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="@Url.Action("Index","Home")"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
            </li>
            <h3 class="menu-title">UI elements</h3><!-- /.menu-title -->
            <li>
                <a href="@Url.Action("Index","Pegawai")"> <i class="menu-icon fa fa-users"></i>Pegawai </a>
                <a href="@Url.Action("Index","Dokter")"> <i class="menu-icon fa fa-user-md"></i>Dokter </a>
                <a href="@Url.Action("Index","Perawat")"> <i class="menu-icon fa fa-user-md"></i>Perawat </a>
                <a href="@Url.Action("Index","Obat")"> <i class="menu-icon fa fa-plus-square"></i>Obat </a>
                <a href="@Url.Action("Index","Ruangan")"> <i class="menu-icon fa fa-hospital-o"></i>Ruangan </a>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

